Add support for sending optional headers with "100 Continue" responses

Since WSGI is all about a single response to a single request, in order for servers 
to process a PUT as a single request and at the same time pass **hints** back to the 
client (for example, a payload type that the server can accept, or to inform the client
that the server expects to receive payload metadata at the end of the payload 
transfer, etc), "100 Continue" response headers is pretty much only place to add 
these **hints**.

This is consistent with **RFC2616, section 10.1**:

> 10.1 Informational 1xx
> 
>   This class of status code indicates a provisional response,
>   consisting only of the **Status-Line** and **optional headers**, and is
>   terminated by an empty line.

Openstack Swift has an immediate use case for this feature where the object
server will use a "Accept-Payload-Footer: 1" like header to hint the proxy server
to send a payload footer after it has finished sending the payload  (for 
sending metadata for an encrypted payload, enforcing end-to-end tag checks, 
etc).

Details at:  https://review.openstack.org/#/c/111562/.
