wsgi response header handling disregards RFC7230 with regard to an HTTP 204 response code

[RFC7230 specifies that transfer encoding](https://httpwg.org/specs/rfc7230.html#header.transfer-encoding) must not include a Transfer-Encoding header in an HTTP 204 response. However, eventlet appears to always do so by default based upon the class of request, and if the response does not have a content-length field explicitly defined. Then regardless of the response code, it is stamping the reply with a Transfer-Encoding header.

> A server MUST NOT send a Transfer-Encoding header field in any response with a status code of 1xx (Informational) or 204 (No Content). A server MUST NOT send a Transfer-Encoding header field in any 2xx (Successful) response to a CONNECT request (Section 4.3.6 of [RFC7231]).

Specifically, as noted, it is basing it's response on the presence of a [Content-Length header](https://httpwg.org/specs/rfc7230.html#header.content-length). However, HTTP 204 responses must not have a Content-Length header based upon the RFC.

> A server MUST NOT send a Content-Length header field in any response with a status code of 1xx (Informational) or 204 (No Content). A server MUST NOT send a Content-Length header field in any 2xx (Successful) response to a CONNECT request (Section 4.3.6 of [RFC7231]).

This creates a situation where, as previously mentioned the Transfer-Encoding header is injected, and a HTTP/1.1 client can find itself confused, and actually issue an error or exception as a result of the response because a client interpreting the Transfer-Encoding before the result code is expecting more data. That data, however, will never come and depending on the application, the socket may close as well, ultimately generating additional errors.

@dtantsur was kind enough to whip up a reproducer utilizing Flask and eventlet wsgi:

>import eventlet
>import eventlet.wsgi
>import flask
>
>
>app = flask.Flask(__name__)
>
>
>@app.route('/', methods=['PUT', 'DELETE'])
>def test():
>    return flask.make_response('', 204)
>
>
> if __name__ == '__main__':
>    sock = eventlet.listen(('127.0.0.1', 5000))
>     eventlet.wsgi.server(sock, app, debug=True)

Test and result:

> $ curl -vX DELETE http://localhost:5000/
> *   Trying ::1:5000...
> * connect to ::1 port 5000 failed: Connection refused
> *   Trying 127.0.0.1:5000...
> * Connected to localhost (127.0.0.1) port 5000 (#0)
> > DELETE / HTTP/1.1
> > Host: localhost:5000
> > User-Agent: curl/7.74.0
> > Accept: */*
> > 
> * Mark bundle as not supporting multiuse
> < HTTP/1.1 204 NO CONTENT
> < Content-Type: text/html; charset=utf-8
> < Date: Thu, 13 Jan 2022 18:33:20 GMT
> < Transfer-Encoding: chunked
> < 
> * Excess found: excess = 5 url = / (zero-length body)
> * Connection #0 to host localhost left intact
> $

Curl doesn't return a non-zero return code in this precise reproducer case, but you can see that the header is injected inappropriately when compared to RFC7230. This has varying effects on different client implementations. In one case we encountered this was aiding in Apache httpd returning a incomplete response error to the end client. In another we found python-requests trying to parse the response body and an exception being raised as a result there.

This was observed on Eventlet 0.30.2 and comparing the code to the present development branch indicates it is still present.
Both encountered on Python 3.8.5 and Python 3.6.8. Debian and Red Hat Enterprise Linux, respectively.

Ideally, the injection of headers would be skipped if the HTTP result code is 204.

Thank you, I'll fix it.